@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 27, 26;
  --background-rgb: 249, 247, 242;
}

body {
  color: theme('colors.amina.black');
  background: theme('colors.amina.sand');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}